body, html {
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        font-size: 16px;
        background-color: aliceblue ; 
        color:rgb(2, 14, 24);
}
header {
        display: block;
        width:100% ;
        margin: 0;
        padding:0 ; }
header img {
        margin: 0;
        padding:0 ; 
        width:100% ;
}
.navigacija{
     margin: 0;
     padding:0 ; 
}
.navigacija img{
        margin: 0;
        padding:0 ; 
} 
ul{
     list-style-type: none; 
     background-color: rgb(142, 199, 233) ;
     margin: 0;
     padding:0 ; 
     overflow: hidden ;  
}
li {
        float: left ;     
}
li a {
        display: block;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 120% ;
        color:rgb(2, 14, 24);
}
li a:hover {
        background-color: rgb(133, 177, 216) ;
        color:rgb(2, 14, 24);
}
a:hover {
        color: #8b3727;
}
h1, h2 {
        margin:  1em;
        font-size: 2em;        
}
h2 {
        font-size: 1.5em; 
        color: #27318b;    
}
p {
        margin: 1em;
        line-height: 1.5em;
        letter-spacing: 1px;
}
hr {
	margin: 1em;
	clear: both;
        }
figure {
        float: left;
        width: 45%;
        padding: 0.5em;
        margin: 0.5em;
        border: 1px solid black
}
figure img {
        width:100%
}
figcaption { 
        font-size:  90% ;
}
.news img {
        float: left;
        width: 15% ;
        padding: 0.5em ;
        margin: 0 1em 0.5em 0.5em;
}
.news h2 {
        margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news time {
        font-size: 90%;
        font-style: italic;
}
.description {
	font-weight: bold;
	margin: 5.8em 1em 1.5em 1em;
}
#galerija_vijesti figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 20%;
	border: 1px solid black;
}
#galerija_vijesti figcaption {
	font-size: 90%;
	text-align: center;
}
.novosti time {
        font-size: 90%;
        font-style: italic;
}
.novosti h2 {
        margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}

footer {
        position: relative;
        bottom: 0;
        width:100% ;       
        background-color: rgb(142, 199, 233);
        padding: 0.2em;  
        clear: both;       
}
footer p {
        text-align: center;
        padding: 0.5em;
        margin: 0.5em;            
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
        .news img {
                width: 90% ;
                padding: 0.5em ;
                margin: 1em;
        }
        #galerija_vijesti figure {
                padding: 0.5em;
                margin: 0 1em 0.5em 1em;
                width: 90%;
        }
        #galerija_vijesti figcaption {
                font-size: 100%;
        }
}